@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&display=swap');

html {
  background-image : url('./images/stacked-peaks-haikei.svg');
  background-repeat : no-repeat;
  background-attachment: fixed;
  background-size: cover

}
.head{
  color : white;
  font-size: 30px;
  text-align: center;
  font-family : 'Montserrat',sans-serif;
  margin-bottom : 200px;
}

h2{
  font-size : 18px;
  font-family : 'Montserrat',sans-serif;
}

.bruh{
  font-family : 'Montserrat',sans-serif;
  font-weight : bold;
  font-size : 15px
}